{% extends 'base.html'%}

{% block content%}


<div class="container m-lg-1">


<div class="row mt-lg-2 ">


    <div class="col-6 shadow ">
        <div class="alert alert-success bg-warning">
            <h5 style="text-align: center;">رسم توصيحي مقدار الدخل حسب الدول </h5>
        </div>
        <canvas id="myChart-city" width="120px" height="80">
    
    
        </canvas>
    
    </div>
    
    <div class="col-6 shadow bg-gradient">
        <div class="alert alert-primary">
            <h5 style="text-align: center;">رسم توصيحي مقدار الدخل حسب الدول </h5>
        </div>
        <canvas id="myChart-sels" width="120px"  height="80"></canvas>
    
    </div>
    <div class="col-6 shadow mt-lg-5">
        <div class="alert alert-info">
            <h5 style="text-align: center;">رسم توصيحي مقدار الدخل حسب الدول </h5>
        </div>
        <canvas id="myChart-pepole" width="120px"  height="80"></canvas>
    
    </div>
    <div class="col-6 shadow mt-lg-5">
        <div class="alert alert-danger">
            <h5 style="text-align: center;">رسم توصيحي مقدار الدخل حسب الدول </h5>
        </div>
        <canvas id="myChart-co" width="120px"  height="80"></canvas>
    
    </div>


</div>


</div>











{% endblock %}


