{%extends 'base.html'%}

{%block content %}
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-7">
                    <div class="swing animated p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">إنشاء حساب جديد&nbsp;</h4>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="الاسم الاول " name="first_name"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="اسم العائلة " name="last_name"></div>
                            </div>
                            <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="البريج الالكتروني " name="email"></div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="كلمة المرور " name="password"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="أعادة كلمة المرور " name="password_repeat"></div>
                            </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">إنشاء الحساب&nbsp;</button>
                            <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>التسجيل من خلال قوقل&nbsp;</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>التسجيل من خلال الفيس بوك&nbsp;</a>
                            <hr>
                        </form>
                        <div class="text-center"><a class="small" href="forgot-password.html">نسيت كلمة المرور&nbsp;</a></div>
                        <div class="text-center"><a class="small" href="{% url 'login'%}">لدي حساب وتريد تسجيل الدخول&nbsp;</a></div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-flex" style="text-align: center;">
                    <div class="flex-grow-1 bg-register-image" style="background: url(&quot;static/img/dogs/التسجيل%20في%20الموقع.jpg&quot;) no-repeat;width: 400px;height: 400px;margin-top: 100px;text-align: center;margin-right: 6px;margin-left: 71px;"></div>
                </div>
            </div>
        </div>
    </div>
</div><a class="btn btn-primary btn-block text-white btn-user" role="button" data-bss-hover-animate="tada" style="color: rgb(83,138,12);background: rgb(84,141,12);" href="base.html">العودة للصفحة الرئيسية&nbsp;</a>

{%endblock%}